/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #e6f2ff, #ffffff);
  color: #2c3e50;
  line-height: 1.6;
}




nav {
  background-color: #1f2f46;
  color: white;
  padding: 15px 20px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav a {
  color: #ecf0f1;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: #00bcd4;
}

header {
  background: linear-gradient(135deg, #2c3e50, #34495e);
  color: white;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

section {
  max-width: 1000px;
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.65); /* semi-transparent */
  padding: 30px;
  border-radius: 16px;
  border: 1px solid rgba(18, 12, 12, 0.25); /* soft border */
  backdrop-filter: blur(10px); /* glassy blur effect */
  -webkit-backdrop-filter: blur(100px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12); /* subtle depth */
}



h1, h2 {
  font-weight: 700;
}

h2 {
  margin-bottom: 15px;
  color: #1f2f46;
}

p {
  margin-bottom: 15px;
  font-size: 1.05rem;
}

.about-img {
  float: left;
  width: 200px;
  margin-right: 30px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about-img img {
  width: 100%;
  height: auto;
  display: block;
}

.about-text {
  overflow: hidden;
}

footer {
  background-color: #1f2f46;
  color: #ecf0f1;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  .about-img {
    float: none;
    margin: 0 auto 20px;
    display: block;
  }

  .about-text {
    text-align: center;
  }
}
.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1f2f46;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.project-link:hover {
  background-color: #00bcd4;
  color: #fff;
}


.button {
  display: inline-block;
  padding: 10px 16px;
  background-color: #1f2f46;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s ease;
}

.button:hover {
  background-color: #025c8c;
}
.project {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
  opacity: 0.95;
}

.project-display {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.project-display .button {
  display: inline-block;
  margin-top: 15px;
}
